*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.dropdown {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100px;
}

.dropdown li {
    position: relative;
    z-index: 999;
}

.dropdown li a {
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 15px;
}

.dropdown li ul {
    position: absolute;
    top: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
    line-height: normal;
    background-color: #DDFFEE;
}

.dropdown li ul li a {
    text-align: left;
    color: black;
    font-size: 12px;
    padding: 10px;
    display: block;
    white-space: nowrap;
}

.dropdown li ul li ul {
    left: 100%;
    top: 0;
}

#mainMenuOptions li:hover>a {
    background-color: #43A682;
    color: white;
    text-decoration: underline;
    font-size: 13px;
}

#mainMenuOptions li:hover>ul {
    display: block;
}